
<footer>
    <div class="f-info">
      <div class="f-info-socials">
        <a class="social-icon" href="https://www.facebook.com">
          <i class="fa-brands fa-facebook"></i>
        </a> 
        <a class="social-icon-insta instagram" href="https://www.instagram.com/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="social-icon-in" href="https://www.linkedin.com/in/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="social-icon-yt" href="https://www.youtube.com/">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="f-info-brand">&copy;WanderLust Private Limited</div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terams">Terms</a>
      </div>
    </div>
  </footer>
  