<link rel="stylesheet" href="/css/home.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  <header>
    <h1>MavenBnB</h1>
  </header>
  <main>
    <section class="hero">
      <h2>Welcome to MavenBnB</h2>
      <p>Explore amazing staycation places around the world.</p>
      <a href="/listings" class="btn">Explore Listings</a>
    </section>
  </main>
</body>
</html>
