body {
  height: 95vh;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #fe424d;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 0.8rem;
  position:relative;
  top: 0;
  transition: top ease 0.5s;
  margin-left: 500px;
  align-items: center;
  justify-content: center; 
}

a:hover {
  color: navy;
  box-shadow: 3px 3px 3px 3px navy;
  top: -8px;
}

.title{
  background-color: rgb(33, 56, 75);
  height: 10%;
  padding: 0;
  width: 1280px;
}

h3 {
  margin-top: 40px;
  display:run-in;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: 5s linear 1s infinite running slidein;
}

@keyframes slidein {
  from {
    transform: translateX(-40vh);
  }
  to {
    transform: translateX(200vh);
  }
}

li {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition-timing-function: ease-in 1s;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
}
